In [12]:
import pandas as pd
import math

In [13]:
data = pd.DataFrame([[1,0,0,1,3,0,1,1,0,1,0],
                     [1,0,0,2,1,0,0,3,2,0,0],
                     [0,1,0,1,1,0,0,0,0,1,0],
                     [1,0,1,2,1,1,0,3,1,1,0],
                     [1,0,1,2,3,0,1,1,3,0,0],
                     [0,1,0,1,2,1,1,2,0,1,0],
                     [0,1,0,0,1,1,0,0,0,0,0],
                     [0,0,0,1,2,1,1,3,0,1,0],
                     [0,1,1,2,1,1,0,0,3,0,0],
                     [1,1,1,2,3,0,1,2,1,0,0],
                     [0,0,0,0,1,0,0,3,0,0,0],
                     [1,1,1,2,1,0,0,0,2,1,0]
                    ],
                    columns=['Alt','Bar','Fri',
                             'Pat','Price','Rain',
                             'Res','Type','Est',
                             'WillWait','__group__'])

In [14]:
data

    Alt  Bar  Fri  Pat  Price  Rain  Res  Type  Est  WillWait  __group__
0     1    0    0    1      3     0    1     1    0         1          0
1     1    0    0    2      1     0    0     3    2         0          0
2     0    1    0    1      1     0    0     0    0         1          0
3     1    0    1    2      1     1    0     3    1         1          0
4     1    0    1    2      3     0    1     1    3         0          0
5     0    1    0    1      2     1    1     2    0         1          0
6     0    1    0    0      1     1    0     0    0         0          0
7     0    0    0    1      2     1    1     3    0         1          0
8     0    1    1    2      1     1    0     0    3         0          0
9     1    1    1    2      3     0    1     2    1         0          0
10    0    0    0    0      1     0    0     3    0         0          0
11    1    1    1    2      1     0    0     0    2         1          0

In [25]:
def choose_attribute(data, unused):
    ''' data: dataframe of input data
        unused: list of attributes that have not been used
    '''
    curr_info,_ = info(data)
    print("initial info for dataset: {}\n".format(curr_info))
    for a in unused:
        print("info gain for {}: {}\n\n\n".format(a, curr_info-rem(a, data)))

In [26]:
def rem(a, data):
    rem = 0
    a_vals = list(set(data[a]))
#     print(a_vals)
    for val in a_vals:
        group = data[data[a] == val]
        p_i = group[group.WillWait == 1].index.size
        n_i = group.index.size - p_i
        info_group, group_done = info(group)
        if group_done:
            print("\n\tattribute: {}\n\tgroup: {}".format(a,val))
        rem += (p_i+n_i)/data.index.size * info_group
    return rem

In [27]:
def info(group):
    total_size = group.index.size
    p_i = group[group.WillWait == 1].index.size
    n_i = total_size - p_i
    if n_i == 0:
        return -(p_i/total_size)*math.log2(p_i/total_size), True
    elif p_i == 0:
        return -(n_i/total_size)*math.log2(n_i/total_size), True
    else:
        return -(p_i/total_size)*math.log2(p_i/total_size)-(n_i/total_size)*math.log2(n_i/total_size), False

In [30]:
choose_attribute(data, ['Alt','Bar','Fri','Price','Rain',
                        'Res','Type','Est'])

initial info for dataset: 1.0

info gain for Alt: 0.0



info gain for Bar: 0.0



info gain for Fri: 0.020720839623908027




	attribute: Price
	group: 2
info gain for Price: 0.19570962879973086



info gain for Rain: 0.020720839623908027



info gain for Res: 0.020720839623908027



info gain for Type: 0.0




	attribute: Est
	group: 3
info gain for Est: 0.20751874963942196